In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/sampling-statistics/master/state_math_exam_by_school.csv"
df = pd.read_csv(url)

In [2]:
df[:3]

,DBN,School Name,Grade,Year,Category,Number Tested,Mean Scale Score,# Level 1,% Level 1,# Level 2,% Level 2,# Level 3,% Level 3,# Level 4,% Level 4,# Level 3+4,% Level 3+4
0,01M015,P.S. 015 ROBERTO CLEMENTE,3,2013,All Students,27,278.0,16.0,59.3,11.0,40.7,0.0,0.0,0.0,0.0,0.0,0.0
1,01M015,P.S. 015 ROBERTO CLEMENTE,3,2014,All Students,18,286.0,6.0,33.3,9.0,50.0,2.0,11.1,1.0,5.6,3.0,16.7
2,01M015,P.S. 015 ROBERTO CLEMENTE,3,2015,All Students,17,280.0,10.0,58.8,4.0,23.5,2.0,11.8,1.0,5.9,3.0,17.6

### Resources


* [2019 Directory](https://data.cityofnewyork.us/Education/2019-DOE-High-School-Directory/uq7m-95z8)
* [17 School Quality Report](https://data.cityofnewyork.us/Education/2017-School-Quality-Report/cxrn-zyvb)
* [16-17 Quality Report](https://data.cityofnewyork.us/Education/2016-2017-School-Quality-Report-Results-for-High-S/ewhs-k7um)


[School District Links](https://data.cityofnewyork.us/Education/2018-DOE-Middle-School-Directory/6kcb-9g8d)

* [HS data](https://data.cityofnewyork.us/Education/2016-DOE-High-School-Performance-Directory/qvir-knu3)

* [School Quality Reports  14-15](https://data.cityofnewyork.us/Education/2014-2015-School-Quality-Report-Results-for-YABC/qqba-8akg)

* [School Quality 13-14](https://data.cityofnewyork.us/Education/2013-2014-School-Quality-Reports-Results-for-High-/bm9v-cvch)

* [2015 School Survey](https://data.cityofnewyork.us/Education/2015-School-Survey/f3h8-59sn)

* [Graduation Outcomes](https://data.cityofnewyork.us/Education/2005-2015-Graduation-Outcomes/qk7d-gecv)

* [School Budget](https://data.cityofnewyork.us/Education/2014-2015-School-Budget-Overview/ven4-h25u)